.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 32px;
    background-color: rgb(10, 2, 2);


}

.sectiontext{
    width:300px;
    background-color: blue;
}