.paybill{
    position: relative;
    height: 700px;
    margin : 0 auto;   
    /* overflow: hidden; */
}

  .paybilltop{
    position:absolute;
    z-index: 1;
     margin-top: -80px;
    margin-left: -380px; 
    
  }

  .paybil{
    position:absolute;
    z-index: 3;
     margin-top: -20px;
    margin-left: -320px; 
    
  }

  .paybillcircle{
    position:absolute;
    z-index: 2;
     margin-top: 300px;
    margin-left: -150px; 
  }

  .paybilloutcircle{
    position:absolute;
    z-index: 2;
     margin-top: 200px;
    margin-left: -200px; 
  }

  .menu{
    width: 500px;
    height: 500px;
    background-color:#FFFFFF ;
  }

  .item-pay{
    border-left:5px solid #7c7474 ;
    border-bottom:none;
    border-radius: 0px;
    width: 100%;


  }

  .active{
        border-left:5px solid  green ;
        border-bottom:none;

  }
 
 

  .item :visited{
    background-color: blue;
  }
 

  .paybill-title{
    color:#060809;
  }

  .paybill-text{
    color:#060809;


  }

  .item-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  margin-left: 20px;
  }

  .buyairtime{
    position:absolute;
    width:700px;
    z-index: 3;
    margin-left: -380px;
  }

  .outerreport{
    position:absolute;
    z-index: 3;
     margin-top: -80px;
    margin-left: -380px;  
  }

  .moneytran{
    position:absolute;
    z-index: 3;
     margin-top: -20px;
    margin-left: -300px; 
    
  }